@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0% {
    transform: translateY(2px) rotate(0deg);
  }

  12.5% {
    transform: translateY(-2px) rotate(-5deg);
  }

  25% {
    transform: translateY(2px) rotate(-10deg);
  }

  37.5% {
    transform: translateY(-2px) rotate(-5deg);
  }

  50% {
    transform: translateY(2px) rotate(0deg);
  }

  62.5% {
    transform: translateY(-2px) rotate(5deg);
  }

  75% {
    transform: translateY(2px) rotate(10deg);
  }

  87.5% {
    transform: translateY(-2px) rotate(5deg);
  }

  100% {
    transform: translateY(2px) rotate(0deg);
  }
}
